# fly.toml app configuration file generated for donare-backend on 2025-10-10T17:09:43-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'donare-backend'
primary_region = 'gru'

[build]
  dockerfile = 'docker/prod.dockerfile'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256

